# Fra ord til netværk

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.9/site-packages (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (1.21.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

df = pd.read_excel(r'data/sample.xlsx')

stopord = pd.read_excel(r'data/stopord2.xlsx')
stopordsliste = stopord['word'].tolist()

texts = df.Text

minimums_tekst_hits = 3

### Edge table

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(min_df = minimums_tekst_hits, stop_words = stopordsliste)
transformed_documents = vectorizer.fit_transform(texts)

transformed_documents_as_array = transformed_documents.toarray()
count_df = pd.DataFrame(transformed_documents_as_array, columns = vectorizer.get_feature_names_out())

count_df.head(10)

,03,10,101,11,110,113,12,120,121,124,...,øienbryne,øine,østergade,østerport,øvrige,øvrigt,øye,øyenbryne,øyne,øynene
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# fjern alle kolonner med tal i navnet
count_df = count_df[count_df.columns.drop(list(count_df.filter(regex = '[0-9]')))]

In [ ]:
# fjern 1-værdierne i diagonalen
from numpy import fill_diagonal

word_cors = count_df.corr()
fill_diagonal(word_cors.values,0)
word_cors.head(10)

,aa,aaben,aabenraa,aabenraae,aar,aaret,aars,aarsag,aarsager,aasyn,...,øienbryne,øine,østergade,østerport,øvrige,øvrigt,øye,øyenbryne,øyne,øynene
aa,0.000000,-0.003759,-0.003254,-0.005654,-0.031261,-0.004609,0.169149,-0.021390,-0.003067,-0.003254,...,-0.005963,-0.014637,-0.003254,-0.003254,-0.005654,-0.004205,-0.003254,-0.003988,-0.016340,-0.004205
aaben,-0.003759,0.000000,-0.003759,-0.006532,-0.036116,-0.005325,-0.007230,0.024553,-0.003544,-0.003759,...,-0.006890,-0.016911,-0.003759,-0.003759,-0.006532,-0.004858,-0.003759,-0.004608,-0.018878,-0.004858
aabenraa,-0.003254,-0.003759,0.000000,-0.005654,-0.006921,-0.004609,-0.006258,-0.021390,-0.003067,-0.003254,...,-0.005963,-0.014637,-0.003254,-0.003254,-0.005654,-0.004205,-0.003254,-0.003988,-0.016340,-0.004205
aabenraae,-0.005654,-0.006532,-0.005654,0.000000,0.002073,-0.008009,-0.010874,-0.037170,-0.005330,-0.005654,...,-0.010362,-0.025435,-0.005654,-0.005654,-0.009825,-0.007307,-0.005654,-0.006931,-0.028394,-0.007307
aar,-0.031261,-0.036116,-0.006921,0.002073,0.000000,0.300503,0.195214,-0.097911,0.004948,0.041760,...,0.089917,0.257656,0.066100,0.017420,0.255851,-0.002653,-0.006921,0.066104,0.235594,0.016222
aaret,-0.004609,-0.005325,-0.004609,-0.008009,0.300503,0.000000,0.115369,-0.030299,-0.004345,-0.004609,...,-0.008447,0.019222,-0.004609,-0.004609,0.129186,-0.005957,-0.004609,-0.005650,-0.023146,-0.005957
aars,0.169149,-0.007230,-0.006258,-0.010874,0.195214,0.115369,0.000000,0.018505,-0.005899,-0.006258,...,-0.011469,-0.028150,-0.006258,-0.006258,0.090728,-0.008088,-0.006258,-0.007670,0.030753,-0.008088
aarsag,-0.021390,0.024553,-0.021390,-0.037170,-0.097911,-0.030299,0.018505,0.000000,-0.020163,-0.021390,...,-0.007942,-0.077039,-0.021390,0.035466,-0.037170,-0.027644,-0.021390,0.008627,-0.057031,0.016444
aarsager,-0.003067,-0.003544,-0.003067,-0.005330,0.004948,-0.004345,-0.005899,-0.020163,0.000000,-0.003067,...,-0.005621,-0.013797,-0.003067,-0.003067,-0.005330,-0.003964,-0.003067,-0.003760,0.068406,-0.003964
aasyn,-0.003254,-0.003759,-0.003254,-0.005654,0.041760,-0.004609,-0.006258,-0.021390,-0.003067,0.000000,...,-0.005963,-0.014637,-0.003254,-0.003254,-0.005654,-0.004205,-0.003254,-0.003988,-0.016340,-0.004205

In [ ]:
import numpy as np

word_cors = word_cors.mask(np.tril(np.ones(word_cors.shape)).astype(bool))

word_cors

,aa,aaben,aabenraa,aabenraae,aar,aaret,aars,aarsag,aarsager,aasyn,...,øienbryne,øine,østergade,østerport,øvrige,øvrigt,øye,øyenbryne,øyne,øynene
aa,NaN,-0.003759,-0.003254,-0.005654,-0.031261,-0.004609,0.169149,-0.021390,-0.003067,-0.003254,...,-0.005963,-0.014637,-0.003254,-0.003254,-0.005654,-0.004205,-0.003254,-0.003988,-0.016340,-0.004205
aaben,NaN,NaN,-0.003759,-0.006532,-0.036116,-0.005325,-0.007230,0.024553,-0.003544,-0.003759,...,-0.006890,-0.016911,-0.003759,-0.003759,-0.006532,-0.004858,-0.003759,-0.004608,-0.018878,-0.004858
aabenraa,NaN,NaN,NaN,-0.005654,-0.006921,-0.004609,-0.006258,-0.021390,-0.003067,-0.003254,...,-0.005963,-0.014637,-0.003254,-0.003254,-0.005654,-0.004205,-0.003254,-0.003988,-0.016340,-0.004205
aabenraae,NaN,NaN,NaN,NaN,0.002073,-0.008009,-0.010874,-0.037170,-0.005330,-0.005654,...,-0.010362,-0.025435,-0.005654,-0.005654,-0.009825,-0.007307,-0.005654,-0.006931,-0.028394,-0.007307
aar,NaN,NaN,NaN,NaN,NaN,0.300503,0.195214,-0.097911,0.004948,0.041760,...,0.089917,0.257656,0.066100,0.017420,0.255851,-0.002653,-0.006921,0.066104,0.235594,0.016222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
øvrigt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.004205,-0.005154,-0.021118,-0.005435
øye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003988,-0.016340,-0.004205
øyenbryne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052624,0.312706
øyne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024844
øynene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
melted_df = pd.melt(word_cors.reset_index(), id_vars = 'index', value_name = "coefficient")

melted_df.head(10)

       index variable  coefficient
0         aa       aa          NaN
1      aaben       aa          NaN
2   aabenraa       aa          NaN
3  aabenraae       aa          NaN
4        aar       aa          NaN
5      aaret       aa          NaN
6       aars       aa          NaN
7     aarsag       aa          NaN
8   aarsager       aa          NaN
9      aasyn       aa          NaN

In [ ]:
filtered_df = melted_df.nlargest(40000, "coefficient")

filtered_df

               index    variable  coefficient
1518607       gevext    kindbeen     1.000000
1702564          død     levende     1.000000
1949233        civil    militair     1.000000
2586391    laugshuus  skippernes     0.942295
2963101  dronningens    tvergade     0.934905
...              ...         ...          ...
1382340        blond      iklædt     0.140820
1006851        blaae        føer     0.140816
2058660      havende      natten     0.140805
1202137        giort     havende     0.140805
1969260      havende         mod     0.140805

[40000 rows x 3 columns]

In [ ]:
filtered_df = filtered_df.rename(columns={"index": "Source", "variable": "Target"})

filtered_df.to_csv("edge_table.csv", index = False)

### Node table

In [ ]:
node_table = count_df.transpose()

node_table["sum"] = node_table.sum(axis = 1)

node_table = node_table["sum"]

node_table = pd.DataFrame(node_table)

node_table.reset_index(inplace=True)

node_table = node_table.rename(columns={"index": "Id"})

node_table.to_csv("node_table.csv", index = False)

### Opdateret edge table

In [ ]:
import re
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    return text

count_model = CountVectorizer(min_df = minimums_tekst_hits, preprocessor = preprocess_text, ngram_range = (1, 1), stop_words = stopordsliste)
X = count_model.fit_transform(texts)
X[X > 0] = 1
Xc = (X.T * X)
Xc.setdiag(0)

X_as_array = Xc.toarray()
X_df = pd.DataFrame(X_as_array,
                    columns = count_model.get_feature_names_out(),
                    index = count_model.get_feature_names_out())

X_df.head(10)

,aa,aaben,aabenraa,aabenraae,aar,aaret,aars,aarsag,aarsager,aasyn,...,øienbryne,øine,østergade,østerport,øvrige,øvrigt,øye,øyenbryne,øyne,øynene
aa,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaben,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
aabenraa,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aabenraae,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aar,0,0,1,3,0,5,5,24,1,3,...,10,52,3,2,7,2,1,3,63,2
aaret,0,0,0,0,5,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
aars,1,0,0,0,5,1,0,1,0,0,...,0,0,0,0,1,0,0,0,2,0
aarsag,0,1,0,0,24,0,1,0,0,0,...,1,1,0,1,0,0,0,1,5,1
aarsager,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
aasyn,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
melted_X = pd.melt(X_df.reset_index(), id_vars = 'index', value_name = "count")

melted_X = melted_X.rename(columns={"index": "Source", "variable": "Target"})

melted_X.head(10)

      Source Target  count
0         aa     aa      0
1      aaben     aa      0
2   aabenraa     aa      0
3  aabenraae     aa      0
4        aar     aa      0
5      aaret     aa      0
6       aars     aa      1
7     aarsag     aa      0
8   aarsager     aa      0
9      aasyn     aa      0

In [ ]:
edge_table_update = pd.merge(filtered_df, melted_X,  how ='left',
                             left_on = ["Source", "Target"],
                             right_on = ["Source", "Target"])

edge_table_update

            Source      Target  coefficient  count
0           gevext    kindbeen     1.000000      3
1              død     levende     1.000000      3
2            civil    militair     1.000000      3
3        laugshuus  skippernes     0.942295      8
4      dronningens    tvergade     0.934905      7
...            ...         ...          ...    ...
39995        blond      iklædt     0.140820      7
39996        blaae        føer     0.140816     10
39997      havende      natten     0.140805      3
39998        giort     havende     0.140805      3
39999      havende         mod     0.140805      3

[40000 rows x 4 columns]

In [ ]:
edge_table_update["synthetic"] = edge_table_update["coefficient"] * edge_table_update["count"]

edge_table_update

            Source      Target  coefficient  count  synthetic
0           gevext    kindbeen     1.000000      3   3.000000
1              død     levende     1.000000      3   3.000000
2            civil    militair     1.000000      3   3.000000
3        laugshuus  skippernes     0.942295      8   7.538359
4      dronningens    tvergade     0.934905      7   6.544333
...            ...         ...          ...    ...        ...
39995        blond      iklædt     0.140820      7   0.985743
39996        blaae        føer     0.140816     10   1.408159
39997      havende      natten     0.140805      3   0.422416
39998        giort     havende     0.140805      3   0.422416
39999      havende         mod     0.140805      3   0.422416

[40000 rows x 5 columns]

In [ ]:
edge_table_update.to_csv("edge_table.csv", index = False)